---
const today = new Date();
---

<footer>
	
	<p>Build with &hearts; & <a href="https://simplecss.org">Simple.css</a> by <a href="https://jpshlk.com">jpasholk</a>.</p>
    <p><a href="https://github.com/lkhrs/astro-simple">Template</a> by <a href="https://www.lkhrs.com">Luke Harris</a>.</p>
	<p>MIT license</p>
	<p class="disclaimer"> Disclaimer:
		“Skyrim” and its logo are registered trademarks or trademarks of Bethesda Softworks LLC, a ZeniMax Media company. This website is not affiliated with, endorsed, sponsored, or specifically approved by Bethesda. All references to “Skyrim” and related elements are for informational and educational purposes only and remain the property of Bethesda Softworks.
	</p>
</footer>
