---
const today = new Date();
---

<footer>
	
	<p>Build with &hearts; & <a href="https://simplecss.org">Simple.css</a> by <a href="https://jpshlk.com">jpasholk</a>.</p>
    <p><a href="https://github.com/lkhrs/astro-simple">Template</a> by <a href="https://www.lkhrs.com">Luke Harris</a>.</p>
	<p>MIT license</p>
</footer>
