---
import HeaderLink from "./HeaderLink.astro";
const { description } = Astro.props.frontmatter || Astro.props;
---

<header>
	<nav>
		<HeaderLink href="/">Ingredients</HeaderLink>
		<HeaderLink href="effect-matcher">Effect Matcher</HeaderLink>
	</nav>
	<figure>
		<!-- <img src="src/img/skyrim-logo.png" alt=""> -->
	</figure>
	<h1>
		Alchemy Tool
	</h1>
	{description &&
	<p>{description}</p>
	}
</header>