---
import HeaderLink from "./HeaderLink.astro";
const { title, description } = Astro.props.frontmatter || Astro.props;
---

<header>
	<!-- <nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav> -->
	<figure>
		<!-- <img src="src/img/skyrim-logo.png" alt=""> -->
	</figure>
	<h1>
		Alchemy Tool
	</h1>
	{description &&
	<p>{description}</p>
	}
	<p>
    	<label for="effectSelect">Select an effect:</label>
	</p>
    <select id="effectSelect">
        <option value="">--Select an effect--</option>
    </select>
</header>
